@value grid-constrain-width from '../../css/globals.css';

.container {
    list-style: none;
    lost-center: 1440px;
    background-color: #010d13;
    padding: 0 1rem;
}

.heading {
    composes: h5 from 'basscss-type-scale/index.css';
    composes: m0 from 'basscss-margin/index.css';
}

.a {
    composes: break-a-decoration-on-overlap from '../../css/globals.css';
}

.excerpt {
    composes: mt0 from 'basscss-margin/index.css';
}

.li {
    lost-column: 1/3;
    display: flex;
}

@media only screen and (max-width: 480px) {
    .li,
    .li:first-child,
    .li:nth-child(2) {
        lost-column: 1/1 1;
    }
}
