.container {
  list-style: none;
  lost-flex-container: row;
  background-color: #FAFAFA;
  padding: 0 1rem;
}
@media (width >= 1440px) {
  lost-center: 1440px;
}

.heading {
    composes: h5 from 'basscss-type-scale/index.css';
    composes: m0 from 'basscss-margin/index.css';
}

.a {
    composes: break-a-decoration-on-overlap from '../../css/globals.css';
}

.excerpt {
    composes: mt0 from 'basscss-margin/index.css';
}

.li {
    lost-column: 1/3;
    display: flex;
}

@media only screen and (max-width: 480px) {
    .li,
    .li:first-child,
    .li:nth-child(2) {
        lost-column: 1/1 1;
    }
}
