/*
  Five-color theme from a single blue hue.
*/
:global .hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #eaeef3;
}

:global .hljs {
  color: #00193a;
}

:global .hljs-keyword,
:global .hljs-selector-tag,
:global .hljs-title,
:global .hljs-section,
:global .hljs-doctag,
:global .hljs-name,
:global .hljs-strong {
  font-weight: bold;
}

:global .hljs-comment {
  color: #738191;
}

:global .hljs-string,
:global .hljs-title,
:global .hljs-section,
:global .hljs-built_in,
:global .hljs-literal,
:global .hljs-type,
:global .hljs-addition,
:global .hljs-tag,
:global .hljs-quote,
:global .hljs-name,
:global .hljs-selector-id,
:global .hljs-selector-class {
  color: #0048ab;
}

:global .hljs-meta,
:global .hljs-subst,
:global .hljs-symbol,
:global .hljs-regexp,
:global .hljs-attribute,
:global .hljs-deletion,
:global .hljs-variable,
:global .hljs-template-variable,
:global .hljs-link,
:global .hljs-bullet {
  color: #4c81c9;
}

:global .hljs-emphasis {
  font-style: italic;
}
