@import "colors.css/src/_variables.css";
/*
  Five-color theme from a single blue hue.
*/
.hljs {
    background: color(#69c lightness(+30%));
    composes: p2 from 'basscss-padding/index.css';
    display: block;
    overflow-x: auto;
    color: #00193a;
    border-left: 2px solid #69c;
}
@media only screen and (max-width: 480px) {
    .hljs {
        margin: 1rem -1rem;
    }
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-comment {
  color: #738191;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-addition,
.hljs-tag,
.hljs-quote,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #0048ab;
}

.hljs-meta,
.hljs-subst,
.hljs-symbol,
.hljs-regexp,
.hljs-attribute,
.hljs-deletion,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-bullet {
  color: #4c81c9;
}

.hljs-emphasis {
  font-style: italic;
}
