html {
  font-size: responsive 12px 21px; /* min-size, max-size */
  font-range: 420px 1280px; /* viewport widths between which font-size is fluid */
}

body {
  background: #efefef;
  font-family: "Proxima Nova"
}
