html {
  font-size: responsive 16px 21px;
  /* min-size, max-size */
  font-range: 420px 1280px;
  /* viewport widths between which font-size is fluid */
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  background: white;
  /**
   * This stack is meant to yield system-native fonts across all
   * devices.
   */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}

blockquote {
    margin-left: -23px;
    padding-left: 20px;
    border-left: 3px solid black;
}

code {
    font-family: "Meslo LG M DZ for Powerline", monospace;
}

a {
    color: #0B95E1;
    text-decoration: none;
}

/* a:visited { */
/*     color: color(#0B95E1 shade(50%)); */
/* } */
