@import "./css/mono-blue.css";

html {
  font-size: responsive 12px 21px;
  /* min-size, max-size */
  font-range: 420px 1280px;
  /* viewport widths between which font-size is fluid */
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  background: #efefef;
  font-family: "Proxima Nova"
}

blockquote {
    margin-left: -23px;
    padding-left: 20px;
    border-left: 3px solid black;
}