.postsWrapper {
    padding: 0 2rem;
}
.posts {
    padding: 1rem 0;
    lost-center: 960px;
}

.stickyWrapper {
    display: flex;
    padding: 1rem 2rem;
    background: #EDF8FE;
    color: #202B31;
}

.stickyInnerWrapper {
    lost-center: 960px;
}

.readMore {
    color: #0B95E1;
    font-size: 0.8rem;
    margin: 0;
}

.stickyMeta {
    lost-column: 2/10 2;
}

.stickyContent {
    lost-column: 8/10 2;
}

.featured {
    text-align: end;
    margin-bottom: 0;
    color: #0B95E1;
}
@media only screen and (max-width: 480px) {
    .stickyWrapper {
        lost-flex-container: column;
    }
    .stickyMeta {
        lost-column: 1/1 1;
    }

    .stickyContent {
        lost-column: 1/1 1;
    }
    .featured {
        font-weight: bold;
    }
}