@media (width >= 1440px) {
  .posts {
    padding: 1rem 0;
    lost-center: 1440px;
  }

  .stickyInnerWrapper {
    lost-center: 1440px;
  }
}
.postsWrapper {
    padding: 0 2rem;
    background-color: #010d13;
}
.posts, .stickyInnerWrapper {
  lost-flex-container: row;
}
.post {
  display:flex;
  lost-column: 1/1;
}

.stickyWrapper {
    display: flex;
    padding: 1rem 2rem;
    background-color: #010d13;
    color: white;
}

.readMore {
    color: #0B95E1;
    font-size: 0.8rem;
    margin: 0;
}

.stickyMeta {
    lost-column: 2/10 2;
}

.stickyContent {
    lost-column: 8/10 2;
}

.featured {
    text-align: end;
    margin-bottom: 0;
    color: #0B95E1;
}
@media only screen and (max-width: 480px) {
    .stickyWrapper {
        lost-flex-container: column;
    }
    .stickyMeta {
        lost-column: 1/1 1;
    }

    .stickyContent {
        lost-column: 1/1 1;
    }
    .featured {
        font-weight: bold;
    }
}
@media (width >= 480px) {

  .post:first-child,
  .post:nth-child(2) {
    lost-column: 1/2 2;
  }
  .post {
    display: flex;
    lost-column: 1/3 0;
  }
}
